@tailwind base;
@tailwind components;
@tailwind utilities;

.seamless {
  @apply offset_shadow;
  @apply flex items-center px-4 py-4 rounded-lg mx-auto gap-2 w-[90%] md:w-fit;
  @apply bg-article_dark_grey;
}

.seamless:nth-child(2) {
  @apply w-full md:w-fit md:gap-4 md:p-6;
}

.offset_shadow {
  /* box-shadow: 0px -0.12px 0px 0.25px #989898; */
  @apply shadow-[0_-0.1px_0px_0.2px_#989898] md:shadow-[0_-0.1px_0px_0.3px_#989898];
}

article.offset_shadow {
  animation-name: animate-border;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

.financial_plan_icon_container {
  @apply flex justify-center md:w-[60px] md:h-[60px] flex-1 md:flex-none items-center  rounded-lg p-8 md:p-2 bg-[#202020] offset_shadow;
}

* {
  box-sizing: border-box;
}

.financial_freedom_article_header {
  @apply flex gap-4 items-center mb-4;
}

li a {
  @apply text-light_grey hover:underline;
}

@keyframes animate-border {
  0% {
    box-shadow: 0px -0.12px 0px 0.25px #989898;
  }
  100% {
    box-shadow: 0px -0.12px 0px 0.25px white;
  }
}

.testimonial_slide {
  @apply flex gap-4 relative px-8 w-screen md:min-w-min bg-secondary_color before:content-[''] before:md:border before:md:border-black;
  @apply transition-transform duration-300 ease-out;
}

.faq_article {
  @apply gap-6 flex justify-between items-center;
}

.faq_ans {
  @apply text-light_grey text-sm;
  animation-name: scale-animate;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.faq_arrow {
  @apply transform duration-300 ease-in h-5 aspect-square;
}
.faq_arrow img {
  @apply h-full w-full;
}

#FAQ > hr {
  @apply mt-6 mb-3;
}

@keyframes scale-animate {
  0% {
    transform: scaleY(0.7);
  }
  100% {
    transform: scaleY(1);
  }
}

#hero-mask-container {
  animation-name: pulse;
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  animation-delay: 0s;
}

.animate_pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  animation-delay: 0s;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
